include ../../common.elements/date-dropdown/date-dropdown.pug
include ../../common.elements/dropdown-guests/dropdown-guests.pug
include ../../common.elements/button/button.pug

mixin hotel-search(hotelSearchData)
    -
        let {blockName} = hotelSearchData

        let divClass = `hotel-search ${ (blockName) ? blockName + '__hotel-search' : '' }`;
        let pClass = `hotel-search-title ${ (blockName) ? blockName + '__hotel-search-title' : '' }`;

        let includesClass = `${ (blockName) ? blockName + '__hotel-search' : 'hotel-search' }`;

    div(class = divClass)
        p(class = pClass) Найдём номера под ваши пожелания
        - const dateDropdownData = { blockName: includesClass, modBlock: "hotel-search-dates_position" }
        +date-dropdown(dateDropdownData)
        - const dropdownGuestsData = { blockName: includesClass, modBlock: "hotel-search-guests_position" }
        +dropdown-guests(dropdownGuestsData)
        - const buttonData = { blockName: includesClass, label: "Подобрать номер", modButton: "button-button_size_lg hotel-search-button_position", link: "search-page.html" }
        +button(buttonData)

