mixin radio-buttons(radioButtonsData)
    -
        let pClass = "radio-buttons-title";
        let divClass = "radio-buttons";
        let alignClass = "radio-buttons-align-block";
        let radioClass = "radio-buttons-radio";
        let radioImitClass = "radio-buttons-radio-imit";
        let labelClass = "radio-buttons-label";

        let {blockName, title, modRadioImit} = radioButtonsData;

        if (blockName) {
            pClass += " " + blockName + "__radio-buttons-title";
            divClass += " " + blockName + "__radio-buttons";
            alignClass += " " + blockName + "__radio-buttons-align-block";
            radioClass += " " + blockName + "__radio-buttons-radio";
            radioImitClass += " " + blockName + "__radio-buttons-radio-imit";
            labelClass += " " + blockName + "__radio-buttons-label";
        }

        if (modRadioImit) { //- модификация radio-button-имитаторов
            const modifRadioImit = modRadioImit.split(/[,\s]\s*/);
            radioImitClass += " " + blockName + `__${modifRadioImit.join(` ${blockName}__`)}`;
        }

        let idDefinerMale;
        let idDefinerFemale;
        let nameDefiner;

    p(class = pClass)= title
    div(class = divClass)
        - idDefinerMale = blockName + "-male";
        - nameDefiner = blockName + "-gender";
        - idDefinerFemale = blockName + "-female";
        div(class = alignClass)
            input(type = "radio" class = radioClass id = idDefinerMale name = nameDefiner hidden)
            label(for = idDefinerMale class = radioImitClass)
            label(for = idDefinerMale class = labelClass) Мужчина
        div(class = alignClass)
            input(type = "radio" class = radioClass id = idDefinerFemale name = nameDefiner hidden)
            label(for = idDefinerFemale class = radioImitClass)
            label(for = idDefinerFemale class = labelClass) Женщина