mixin checkbox-buttons(checkboxButtonsData)
    -
        let divClass = "checkbox-buttons";
        let pClass = "checkbox-buttons-title";
        let alignClass = "align-block";
        let checkboxClass = "checkbox-buttons-checkbox";
        let checkmarkClass = "checkbox-buttons-checkmark";
        let labelClass = "checkbox-buttons-label";

        let {blockName, title, options, modCheckmark} = checkboxButtonsData;

        if (blockName) {
            divClass += " " + blockName + "__checkbox-buttons"
            pClass += " " + blockName + "__checkbox-buttons-title";
            alignClass += " " + blockName + "__align-block"
            checkboxClass += " " + blockName + "__checkbox-buttons-checkbox";
            checkmarkClass += " " + blockName + "__checkbox-buttons-checkmark";
            labelClass += " " + blockName + "__checkbox-buttons-label";
        }

        //- для динамического создания пунктов списка разбиваем
        //- строку с пунктами в массив
        const listOptions = options.split(/(?=[А-Я])/);
        let counter = 1;
        let idCounter;

        if (modCheckmark) { //- модификация чекбоксов-имитаторов
            const modifCheckmark = modCheckmark.split(/[,\s]\s*/);
            checkmarkClass += " " + blockName + `__${modifCheckmark.join(` ${blockName}__`)}`;
        }

    div(class = divClass)
        p(class = pClass)= title
        each option in listOptions
            - idCounter = "option" + counter;
            - counter++;
            div(class = alignClass)
                    input(type = "checkbox" class = checkboxClass id = idCounter hidden)
                    label(for = idCounter class = checkmarkClass)
                    label(for = idCounter class = labelClass)= option
                    //- how to use breakpoints inside "" in index.pug?
                    //- how to use gradient for checkmarks?