mixin like-button(likeButtonData)
    -
        let pClass = "like-button-title";
        let checkboxClass = "like-button-checkbox";
        let btnClass = "like-button-button-label";

        let {blockName, title, modButton} = likeButtonData
        
        if (blockName) {
            pClass += " " + blockName + "__like-button-title";
            checkboxClass += " " + blockName + "__like-button-checkbox";
            btnClass += " " + blockName + "__like-button-button-label";
        }

        if (modButton) {
            const modifButton = modButton.split(/[,\s]\s*/);
            btnClass += " " + blockName + `__${modifButton.join(` ${blockName}__`)}`;
        }

        let idDefiner = blockName + "-checkbox-id";

    p(class = pClass)= title
    input(type="checkbox" class = checkboxClass id = idDefiner hidden)
    label(for=idDefiner class = btnClass)