mixin bullet-list(bulletListData)
    -
        let pClass = "bullet-list-title";
        let listClass = "bullet-list-list";
        let pointClass = "bullet-list-point";
        
        let {blockName, title, points, pointsMod} = bulletListData;

        if (blockName) {
            pClass += " " + blockName + "__bullet-list-title";
            listClass += " " + blockName + "__bullet-list-list";
            pointClass += " " + blockName + "__bullet-list-point";
        }

        //- для динамического создания пунктов списка разбиваем
        //- строку с пунктами в массив
        const listPoints = points.split(/(?=[А-Я])/);

        if (pointsMod) { //- модификация пунктов списка
            const pointsMod = pointsMod.split(/[,\s]\s*/);
            pointClass += " " + blockName + `__${pointsMod.join(` ${blockName}__`)}`;
        }

    .bullet-list
        p(class = pClass)= bulletListData.title
        ul(class = listClass)
            each point in listPoints
                li(class = pointClass)= point