.room-details-picture1 {
    background: url("../../img/insert_emoticon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 7px;
}

.room-details-picture2 {
    background: url("../../img/location_city.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 38px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 4px;
}

.room-details-picture3 {
    background: url("../../img/whatshot.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 42px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 5px;
}

.room-details-align-block {
    display: flex;
    align-items: center;
}

.room-details-block {
    font-size: 14px;
    line-height: 24px;
    color: $darkShade75;
    margin-left: 10px;
    margin-bottom: 17px;
    margin-top: 23px;
}

.room-details-label1 {
    font-weight: 700;
}

.room-details-bottom-line {
    width: 280px;
    height: 1px;
    background-color: $darkShade10;
    margin: 0;
    padding: 0;

    &:last-child {
        display: none;
    }
}