.expand-checkbox-div {
    display: none;
    margin-top: 17.44px;
}

.expand-checkbox-label {
    font-size: 14px;
    line-height: 18px;
    color: $darkShade50;
}

.expand-checkbox-title {
    color: $darkShade100;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
}

.expand-checkbox-box + .expand-checkbox-checkmark {
    display: inline-block;
    width: 19px;
    height: 18px;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    position: relative;
    margin-right: 9.74px;
}

.expand-checkbox-box + .expand-checkbox-checkmark::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 6px;
    border-right: 2px solid $purple;
    border-bottom: 2px solid $purple;
    top: 50%;
    left: 40%;
    transform: translate(-25%, -70%) rotate(45deg);
    display: none;
}

.expand-checkbox-box:checked + .expand-checkbox-checkmark {
    border-color: $purple;
}

.expand-checkbox-box:checked + .expand-checkbox-checkmark::before {
    display: inline-block;
}

.expand-checkbox-alignblock {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

.expand-checkbox-title::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 2px solid $darkShade50;
    border-bottom: 2px solid $darkShade50;
    top: 50%;
    left: 40%;
    transform: translate(0, 20%) rotate(225deg);
    margin-left: 30px;
    display: inline-block;
}

.expand-checkbox-button:checked ~ .expand-checkbox-div {
    display: block;
}

.expand-checkbox-button:checked ~ .expand-checkbox-title::after {
    transform: translate(0, -20%) rotate(45deg);
}