mixin expand-checkbox(expandCheckboxData)
    -
        let btnClass = "expand-checkbox-button"
        btnClass += " " + expandCheckboxData.btnClass
        let divClass = "expand-checkbox-div"
        divClass += " " + expandCheckboxData.divClass
        let checkmarkClass = "expand-checkbox-checkmark"
        checkmarkClass += " " + expandCheckboxData.checkmarkClass + "__expand-checkbox-checkmark"
        let checkboxClass = "expand-checkbox-box"
        checkboxClass += " " + expandCheckboxData.checkboxClass
        let labelClass = "expand-checkbox-label"
        labelClass += " " + expandCheckboxData.labelClass
    
    button(class = btnClass) Дополнительные удобства
    div(class = divClass)
        input(type = "checkbox" class = checkboxClass id = "appliance1" hidden)
        label(for = "appliance1" class = checkmarkClass)
        label(for = "appliance1" class = labelClass) Завтрак
        br
        input(type = "checkbox" class = checkboxClass id = "appliance2" hidden)
        label(for = "appliance2" class = checkmarkClass)
        label(for = "appliance2" class = labelClass) Письменный стол
        br
        input(type = "checkbox" class = checkboxClass id = "appliance3" hidden)
        label(for = "appliance3" class = checkmarkClass)
        label(for = "appliance3" class = labelClass) Стул для кормления
        br
        input(type = "checkbox" class = checkboxClass id = "appliance4" hidden)
        label(for = "appliance4" class = checkmarkClass)
        label(for = "appliance4" class = labelClass) Кроватка
        br
        input(type = "checkbox" class = checkboxClass id = "appliance5" hidden)
        label(for = "appliance5" class = checkmarkClass)
        label(for = "appliance5" class = labelClass) Телевизор
        br
        input(type = "checkbox" class = checkboxClass id = "appliance6" hidden)
        label(for = "appliance6" class = checkmarkClass)
        label(for="appliance6" class = labelClass) Шампунь