.expand-checkbox {
    font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
}

.expand-checkbox-expblock {
    display: none;
    margin-top: 17.44px;
}

.expand-checkbox-label {
    font-size: 14px;
    line-height: 18px;
    color: $darkShade50;
}

.expand-checkbox-title {
    color: $darkShade100;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}

.expand-checkbox-checkbox + .expand-checkbox-checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    position: relative;
    margin-right: 9.74px;
    box-sizing: border-box;
}

.expand-checkbox-checkbox + .expand-checkbox-checkmark::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 6px;
    border-right: 2px solid $purple;
    border-bottom: 2px solid $purple;
    top: 55%;
    left: 42%;
    transform: translate(-25%, -70%) rotate(45deg);
    display: none;
}

.expand-checkbox-checkbox:checked + .expand-checkbox-checkmark {
    border-color: $purple;
}

.expand-checkbox-checkbox:checked + .expand-checkbox-checkmark::before {
    display: inline-block;
}

.expand-checkbox-align-block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

.expand-checkbox-title::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 2px solid $darkShade50;
    border-bottom: 2px solid $darkShade50;
    top: 50%;
    left: 40%;
    transform: translate(0, 20%) rotate(225deg);
    margin-left: 30px;
}

.expand-checkbox-hid-checkbox:checked ~ .expand-checkbox-expblock {
    display: block;
}

.expand-checkbox-hid-checkbox:checked ~ .expand-checkbox-title::after {
    transform: translate(0, -20%) rotate(45deg);
}

// модификаторы

[class*="expand-checkbox-label_color_red"] {
    color: red;
}