mixin expand-checkbox(expandCheckboxData)
    -
        let divClass = "expand-checkbox";
        let hCheckboxClass = "expand-checkbox-hid-checkbox";
        let titleClass = "expand-checkbox-title";
        let expBlockClass = "expand-checkbox-expblock";
        let alignClass = "expand-checkbox-align-block";
        let checkboxClass = "expand-checkbox-checkbox";
        let checkmarkClass = "expand-checkbox-checkmark";
        let labelClass = "expand-checkbox-label";

        let {blockName, title, options, modCheckmark} = expandCheckboxData;

        if (blockName) {
            divClass += " " + blockName + "__expand-checkbox";
            hCheckboxClass += " " + blockName + "__expand-checkbox-hid-checkbox";
            titleClass += " " + blockName + "__expand-checkbox-title";
            expBlockClass += " " + blockName + "__expand-checkbox-expblock";
            alignClass += " " + blockName + "__expand-checkbox-align-block";
            checkboxClass += " " + blockName + "__expand-checkbox-checkbox";
            checkmarkClass += " " + blockName + "__expand-checkbox-checkmark";
            labelClass += " " + blockName + "__expand-checkbox-label";
        }

        if (modCheckmark) { //- модификация чекбоксов-имитаторов
            const modifCheckmark = modCheckmark.split(/[,\s]\s*/);
            checkmarkClass += " " + blockName + `__${modifCheckmark.join(` ${blockName}__`)}`;
        }

        //- для динамического создания пунктов списка разбиваем
        //- строку с пунктами в массив
        const listOptions = options.split(/(?=[А-Я])/);
        let counter = 1;
        let idCounter;
        let idDefiner;
    
    div(class = divClass)
        - idDefiner = blockName + "-exp-checkbox-btn";
        input(class = hCheckboxClass type = "checkbox" id = idDefiner hidden)
        label(for = idDefiner class = titleClass)= title
        div(class = expBlockClass)
            each option in listOptions
                - idCounter = blockName + "-appliance" + counter;
                - counter++;
                div(class = alignClass)
                    input(type = "checkbox" class = checkboxClass id = idCounter hidden)
                    label(for = idCounter class = checkmarkClass)
                    label(for = idCounter class = labelClass)= option