mixin toggle(toggleData)
    -
        let pClass = "toggle-title";
        let checkboxClass = "toggle-checkbox";
        let sliderClass = "toggle-slider";
        let labelClass = "toggle-label";

        let {blockName, title, label, modSlider} = toggleData;

        if (blockName) {
            pClass += " " + blockName + "__toggle-title";
            checkboxClass += " " + blockName + "__toggle-checkbox";
            sliderClass += " " + blockName + "__toggle-slider";
            labelClass += " " + blockName + "__toggle-label";
        }

        if (modSlider) {
            const modifSlider = modSlider.split(/[,\s]\s*/);
            sliderClass += " " + blockName + `__${modifSlider.join(` ${blockName}__`)}`;
        }

        let idDefiner;
        
    p(class = pClass)= toggleData.title
    - idDefiner = blockName + "-toggleID";
    input(type = "checkbox" class = checkboxClass id = idDefiner hidden)
    label(for = idDefiner class = sliderClass)
    label(for = idDefiner class = labelClass)= toggleData.label