p(class = "title") Range Slider
div(class = "wrapper")
    div(class = "container")
        div(class = "slider-wrapper")
            div(id = "slider-range")
            div(class = "range-wrapper")
                div(class = "range")
                div(class = "range-alert")

                div(class = "gear-wrapper")
                    div(class = "gear-large gear-one")
                        div(class = "gear-tooth")
                        div(class = "gear-tooth")
                        div(class = "gear-tooth")
                        div(class = "gear-tooth")
                    div(class = "gear-large gear-two")
                        div(class = "gear-tooth")
                        div(class = "gear-tooth")
                        div(class = "gear-tooth")
                        div(class = "gear-tooth")
                        
