mixin range-slider(rangeSliderData)
    -
        let {blockName, title, modBlock} = rangeSliderData;

        let blockClass = "range-slider-block";
        let pClass = "range-slider-title";
        let divClass = "wrapper range-slider-wrapper";

        if (blockName) {
            blockClass += " " + blockName + "__range-slider-block";
            divClass += " " + blockName + "__range-slider-wrapper";
            pClass += " " + blockName + "__range-slider-title";
        }

        if (modBlock) { //- moving the block of the element inside a parent block
            const modifBlock = modBlock.split(/[,\s]\s*/);
            blockClass += " " + blockName + `__${modifBlock.join(` ${blockName}__`)}`;
        }

    //- plugin by Mariusz Dabrowski
    div(class = blockClass)
        p(class = pClass) Диапазон цены
        div(class = divClass)
            div(class = "container")
                div(class = "slider-wrapper")
                    div(id = "slider-range")
                    div(class = "range-wrapper")
                        div(class = "range")
                        div(class = "range-alert")
                        div(class = "gear-wrapper")
                            div(class = "gear-large gear-one")
                                div(class = "gear-tooth")
                                div(class = "gear-tooth")
                                div(class = "gear-tooth")
                                div(class = "gear-tooth")
                            div(class = "gear-large gear-two")
                                div(class = "gear-tooth")
                                div(class = "gear-tooth")
                                div(class = "gear-tooth")
                                div(class = "gear-tooth")
                        
