include ../../common.blocks/hotel-search/hotel-search.pug
include ../../common.blocks/registration-form/registration-form.pug
include ../../common.blocks/book-form/book-form.pug
include ../../common.blocks/log-in/log-in.pug
include ../../common.blocks/room-card/room-card.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Blocks
    body
        a(href = "index.html") UI kit
        .containerBlocks
            br
            - const hotelSearchData = { blockName: "containerBlocks" }
            +hotel-search(hotelSearchData)
            - const registrationFormData = {}
            +registration-form(registrationFormData)
            - const bookFormData = { room: "888", price: "9990", days: "4", servicePrice: "скидка 2179", addServicePrice: "300" }
            +book-form(bookFormData)
        .containerBlocks2
            - const logInData = {}
            +log-in(logInData)
            - const roomCardData = { room: "888", price: "9990", reviews: "145", img: "assets/img/room1.png"}
            +room-card(roomCardData)
