include ../includes/text-field.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .simple
            - const c = { pClass: "simple__input-title", pTitle: "Text field", inputType: "email", inputClass: "simple__input-box", inputPlaceholder: "Email" }
            +text-field(c)
        .focus
            - const c1 = { pClass: "focus__input-title", pTitle: "Text field", iputType: "email", inputClass: "focus__input-box", inputPlaceholder: "Email" }
            +text-field(c1)