include ../../common.elements/text-field/text-field.pug
include ../../common.elements/expandable-checkbox/expandable-checkbox.pug
include ../../common.elements/checkbox-buttons/checkbox-buttons.pug
include ../../common.elements/radio-buttons/radio-buttons.pug


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        - const textFieldData = { mod: "input-box_width_md", pTitle: "Text field", iputType: "email", inputPlaceholder: "This is pretty awesome" }
        +text-field(textFieldData)

        p Можно курить

        .expand
            - const expandCheckboxData = { title: "Дополнительные удобства", options: "Завтрак Письменный стол Стул для кормления Кроватка Телевизор Шампунь" }
            +expand-checkbox(expandCheckboxData)

        .dropdown
            include ../../common.elements/dropdown-guests/dropdown-guests.pug

        - const checkboxButtonsData = { title: "Checkbox buttons", options: "Можно курить Можно с питомцами Можно пригласить гостей br (до 10 человек)" }
        +checkbox-buttons(checkboxButtonsData)

        - const radioButtonsData = { title: "Radio buttons" }
        +radio-buttons(radioButtonsData)