include ../../common.elements/text-field/text-field.pug
include ../../common.elements/expandable-checkbox/expandable-checkbox.pug


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        - const textFieldData = { inputClass: "input-box_width_md", pTitle: "Text field", iputType: "email", inputPlaceholder: "This is pretty awesome" }
        +text-field(textFieldData)
        p Можно курить
        .expand
            - const expandCheckboxData = { blockName: "expand" }
            +expand-checkbox(expandCheckboxData)
        .dropdown
            include ../../common.elements/dropdown-guests/dropdown-guests.pug