include ../../common.elements/text-field/text-field.pug
include ../../common.elements/expandable-checkbox/expandable-checkbox.pug
include ../../common.elements/checkbox-buttons/checkbox-buttons.pug
include ../../common.elements/radio-buttons/radio-buttons.pug
include ../../common.elements/bullet-list/bullet-list.pug
include ../../common.elements/toggle/toggle.pug
include ../../common.elements/dropdown-guests/dropdown-guests.pug
include ../../common.elements/date-dropdown/date-dropdown.pug
include ../../common.elements/rich-checkbox-buttons/rich-checkbox-buttons.pug
include ../../common.elements/like-button/like-button.pug
include ../../common.elements/rate-button/rate-button.pug
include ../../common.elements/dropdown-rooms/dropdown-rooms.pug
//- необходимо, чтобы компоненты, содержащие элементы radio/checkbox всегда находились в блоках
//- с разными именами (или создавать для каждого отдельный блок)

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .container
            .container1
                - const textFieldData = { blockName: "container1", title: "Text field", iputType: "email", inputPlaceholder: "This is pretty awesome" }
                +text-field(textFieldData)

                .expand
                    - const expandCheckboxData = { blockName: "expand", title: "Дополнительные удобства", options: "Завтрак Письменный стол Стул для кормления Кроватка Телевизор Шампунь" }
                    +expand-checkbox(expandCheckboxData)

                .dropdown
                    - const dropdownGuestsData = { blockName: "dropdown", title: "Dropdown" }
                    +dropdown-guests(dropdownGuestsData)

                .date-dropdown
                    - const dateDropdownData = { blockName: "date-dropdown", modSize: "input-box_width_md" }
                    +date-dropdown(dateDropdownData)

                    - const richCheckboxButtonsData = { blockName: "date-dropdown", title: "Rich checkbox buttons" }
                    +rich-checkbox-buttons(richCheckboxButtonsData)

                .rooms
                    - const dropdownRoomsData = { blockName: "rooms", title: "Dropdown", modSize: "dropdown-rooms_width_md" }
                    +dropdown-rooms(dropdownRoomsData)

                    - const subscribeData = { blockName: "rooms", title: "Subscription text field", iputType: "email", inputPlaceholder: "Email", modInput: "subscribe-button input-box_width_md" } 
                    +text-field(subscribeData)

            .container2
                - const radioButtonsData = { blockName: "container2", title: "Radio buttons" }
                +radio-buttons(radioButtonsData)

                .that-block
                    - const bulletListData = { blockName: "that-block", title: "Bullet list", points: "Нельзя с питомцами Без вечеринок и мероприятий Время прибытия — после 13:00, br а выезд до 12:00" }
                    +bullet-list(bulletListData)

                    - const checkboxButtonsData = { blockName: "that-block", title: "Checkbox buttons", options: "Можно курить Можно с питомцами Можно пригласить гостей \n br (до 10 человек)" }
                    +checkbox-buttons(checkboxButtonsData)

                .this-block
                    - const toggleData = { blockName: "this-block", title: "toggle", label: "Получать спецпредложения" }
                    +toggle(toggleData)

                    - const likeButtonData = { blockName: "this-block", title: "Like button" }
                    +like-button(likeButtonData)

                    - const rateButtonData = { blockName: "this-block", title: "Rate button" }
                    +rate-button(rateButtonData)

                    //- include ../../common.elements/range-slider/range-slider.pug


            //- .container3
            //-     include ../../common.elements/dropdown-guests/dropdown-guests.pug