.landing-pseudo {
    height: 70px;
}

.landing-wrapper {
    background: url("../../../img/landing-background.png") 50%/cover no-repeat;
    height: 830px;
    width: 100%;
}

.landing-content {
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
    height: 830px;
}

.landing-content__hotel-search {
    position: absolute;
    top: 70px;
}

.landing-content__label {
    position: absolute;
    bottom: 7px;
    right: 0;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    color: $darkShade75;
    text-align: right;
}

@media screen and (max-width: 1200px) {
    .landing-content__hotel-search {
        left: 20px;
    }
    .landing-content__label {
        right: 20px;
    }
}

@media screen and (max-width: 957px) {
    .landing-pseudo {
        height: 100px;
    }
}

@media screen and (max-height: 820px) {
    .landing-wrapper,
    .landing-content {
        height: 750px;
    }
}

@media screen and (max-width: 650px) {
    .landing-pseudo {
        height: 0;
    }
}

@media screen and (max-height: 630px) {
    .landing-wrapper,
    .landing-content {
        height: 600px;
    }
}

@media screen and (max-width: 359px) {
    .landing-content__hotel-search {
        left: 0;
    }
    .landing-content__label {
        right: 0;
    }
}

@media only screen and (max-device-width: 812px) {
    .search-pseudo {
        height: 0;
    }
}