mixin dropdown-rooms(dropdownRoomsData)
    -
        let {blockName, title, modSize} = dropdownRoomsData;
        let divClass = "iqdropdown";
        let pClass = "iqdropdown-selection";

        if (blockName) {
            divClass += " " + blockName + "__dropdown-rooms"
        }

        if (modSize) {
            divClass += " " + modSize;
            pClass += " dropdown-rooms-selection-position";
        }

    p(class = "title-dropdown-rooms")= title
    div(class = divClass)
        p(class = pClass)
        div(class = "iqdropdown-menu")
            div(class = "iqdropdown-menu-option" data-id="item1")
                div
                    p(class="iqdropdown-item") Спальни
            div(class = "iqdropdown-menu-option" data-id="item1")
                div
                    p(class="iqdropdown-item") Кровати
            div(class = "iqdropdown-menu-option" data-id="item1")
                div
                    p(class="iqdropdown-item") Ванные комнаты
//- исправить ошибки в файле js:
//- disable "-" buttons when 0
//- apply/clear buttons
//- override main label
//- add endings
//- sum up error

//- modSize: "dropdown-rooms_width_md"