p(class = "title") Dropdown
div(class = "iqdropdown")
    p(class = "iqdropdown-selection")
    div(class = "iqdropdown-menu")
        div(class = "iqdropdown-menu-option" data-id="item1")
            div
                p(class="iqdropdown-item") Взрослые
        div(class = "iqdropdown-menu-option" data-id="item1")
            div
                p(class="iqdropdown-item") Дети
        div(class = "iqdropdown-menu-option" data-id="item1")
            div
                p(class="iqdropdown-item") Младенцы
        div(class="buttons-block")
            button(class="btn-clear") Очистить
            button(class="btn-apply") Применить
