.text-field {
    font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
}

.text-field-input-box {
    border: 1px solid $darkShade25;
    box-sizing: border-box;
    border-radius: 4px;
    height: 44px;
    width: 320px;
    text-indent: 15px;
    &::placeholder {
        color: $darkShade25;
        }

    &:hover, &:focus {
        border: 1px solid $darkShade50;  
        outline: none;
        

        &::placeholder {
        color: $darkShade75;
        }
    }
}

.text-field-title {
    color: $darkShade100;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.text-field-submit-button {
    display: none;
    margin-left: -32px;
    width: 19px;
    height: 19px;
    border: none;
    outline: none;
    cursor: pointer;
    background: url('../../img/arrow_forward.svg');
    background-size: contain;
}

.text-field-align-block {
    display: flex;
    align-items: center;
}

// модификаторы

[class*="input-box_width_lg"] {
    width: 320px;
}

[class*="input-box_width_md"] {
    width: 266px;
}

[class*="input-box_width_sm"] {
    width: 150px;
}

.text-field-input-box[class*="subscribe-button"] + .text-field-submit-button {
    display: inline-block;
}


