mixin text-field(textFieldData)
    -
        let pClass = "text-field-title";
        let inputClass = "text-field-input-box";

        let {blockName, title, iputType, inputPlaceholder, modInput} = textFieldData;

        if (blockName) {
            pClass += " " + blockName + "__text-field-title";
            inputClass += " " + blockName + "__text-field-input-box";
        }

        if (modInput) {
            const modifInput = modInput.split(/[,\s]\s*/);
            inputClass += " " + blockName + `__${modifInput.join(` ${blockName}__`)}`;
        }

    p(class = pClass)= title
    input(type = inputType class = inputClass placeholder = inputPlaceholder)