mixin text-field(textFieldData)
    -
        let pClass = "text-field-title";
        let alignClass = "text-field-align-block";
        let inputClass = "text-field-input-box";
        let btnClass = "text-field-submit-button";

        let {blockName, title, iputType, inputPlaceholder, modInput} = textFieldData;

        if (blockName) {
            pClass += " " + blockName + "__text-field-title";
            alignClass += " " + blockName + "__text-field-align-block";
            inputClass += " " + blockName + "__text-field-input-box";
            btnClass += " " + blockName + "__text-field-submit-button";
        }

        if (modInput) {
            const modifInput = modInput.split(/[,\s]\s*/);
            inputClass += " " + blockName + `__${modifInput.join(` ${blockName}__`)}`;
        }

    p(class = pClass)= title
    div(class = alignClass)
        input(type = inputType class = inputClass placeholder = inputPlaceholder)
        button(class = btnClass)

//- модификатор subscribe-button, чтобы отобразить кнопку "подписаться"
//- модификатор input-box_width_md