mixin text-field(textFieldData)
    -
        let inputClass = "text-field__input-box"
        if (textFieldData.mod) {
            const mod = textFieldData.mod.split(/[,\s]\s*/);
            inputClass += ` text-field__${mod.join(' text-field__')}`;
        }

        let pClass = "text-field__input-title"

    .text-field
        p(class = pClass)= textFieldData.pTitle
        input(type = textFieldData.inputType class = inputClass placeholder = textFieldData.inputPlaceholder)