mixin text-field(textFieldData)
    -
        let pClass = "text-field__input-title"
        pClass += textFieldData.pClass ? " " + textFieldData.pClass : "" //для миксования модификаторов, если есть
        let inputClass = "text-field__input-box"
        inputClass += textFieldData.inputClass ? " " + textFieldData.inputClass : ""
    .text-field
        p(class = pClass)= textFieldData.pTitle
        input(type = textFieldData.inputType class = inputClass placeholder = textFieldData.inputPlaceholder)