include ../../../common.blocks/header/header.pug
include ../../../common.blocks/log-in/log-in.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Вход
    body
        - const headerData = {  }
        +header(headerData)
        .login-pseudo
        .login-wrapper
            .login-content
                - const logInData = { blockName: "login-content" }
                +log-in(logInData)
    include ../../../common.blocks/footer/footer.pug