mixin date-dropdown(dateDropdownData)
    -
        let inputClass = "datepicker-here text-field-input-box";
        let {blockName, modSize} = dateDropdownData;

        if (blockName) {
            inputClass += " " + blockName + "__text-field-input-box"
        }

        if (modSize) {
            inputClass += " " + modSize;
        }

    p(class = "date-dropdown-title") Даты пребывания в отеле
    input(type="text" data-range="true" data-multiple-dates-separator=" - " data-language="en" class=inputClass placeholder="ДД.ММ.ГГГГ - ДД.ММ.ГГГГ")
    span(class = "input-box-expand-mark")
//- add apply button
//- separate inputs
//- add filter mask and new font

//- модификатор input-box_width_md