mixin rate-button(rateButtonData)
    -
        let {blockName, title, modButton} = rateButtonData;

        let pClass = "rate-button-title";
        let alignClass = "rate-button-align-block";
        let checkboxClass = "rate-button-checkbox";
        let labelClass = "rate-button-label";

        if (blockName) {
            pClass += " " + blockName + "__rate-button-title";
            alignClass += " " + blockName + "__rate-button-align-block";
            checkboxClass += " " + blockName + "__rate-button-checkbox";
            labelClass += " " + blockName + "__rate-button-label";
        }

        if (modButton) {
            const modifButton = modButton.split(/[,\s]\s*/);
            btnClass += " " + blockName + `__${modifButton.join(` ${blockName}__`)}`;
        }

        let idDefiner;
        let n = 1;
        let counter = 5;


    p(class = pClass)= title
    div(class = alignClass)
        while n <=5
            - idDefiner = blockName + "-button" + counter;
            - counter--;
            - n++;
            input(type="radio" class = checkboxClass id = idDefiner name = "rate-buttons" hidden)
            label(for=idDefiner class = labelClass)
